<%- include("partials/header") -%>
<img src="/css/images/room<%=room.roomId%>.jpeg" alt="">
<h5>Price= <%= room.price %></h5>
<h5>Address = <%= room.address %></h5>
<p><%= room.information %></p>
<p>views= <%= room.views %></p>


<button class="btn-lg btn-primary btn" >contact</button>

<%- include("partials/footer") -%>